# Core functionality - changes here should be rare!
/src/app.py                   @kyawyehtut77
/src/backend/database.py      @kyawyehtut77
/src/backend/routers/auth.py  @kyawyehtut77

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kyawyehtut77
